@{
    ViewData["Title"] = "File uploader";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div class="text-center">

        <form asp-action="UploadFile" asp-controller="Transaction" method="post" enctype="multipart/form-data">

            <input required type="file" name="uploadedFile" /><br>

            <input type="submit" class="btn btn-success" value="Upload" />

        </form>

        @{
            if (ViewBag.Message != null)
            {
                if ((bool)ViewBag.IsSuccess)
                {
                    <h4 class="text-success">@ViewBag.Message</h4>
                }
                else
                {
                    <h4 class="text-danger">@ViewBag.Message</h4>
                }
            }


        }

    </div>
